body {
  background-color: floralwhite;
  box-sizing: border-box;
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0.5em;
}

button {
  appearance: none;
  background-color: dodgerblue;
  border: none;
  color: floralwhite;
  cursor: pointer;
  font-size: unset;
  font-weight: bold;
  padding: 0.5em 1em;
}

button:hover, button:active {
  background-color: lightskyblue;
}

#toolbar {
  margin-bottom: 1em;
}

#copied {
  color: dodgerblue;
  display: none;
  font-size: 0.9em;
}

#copied.visible {
  display: inline;
}

#tabs {
  display: flex;
}

.tab {
  align-items: end;
  appearance: none;
  background-color: lightgray;
  border-radius: 8px 8px 0 0;
  color: floralwhite;
  cursor: default;
  display: inline-block;
  margin-right: 0.25em;
  padding: 0.5em 1em;
  text-decoration: none;
}

.tab.selected {
  background-color: mediumseagreen;
  color: floralwhite;
  font-weight: bold;
}

.tab:not(.selected):hover {
  background-color: gainsboro;
  cursor: pointer;
}

#tab-contents {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0 8px 8px 8px;
  height: 300px;
  overflow: scroll;
  padding: 0.5em;
  width: 400px;
}

.tab-content {
  display: none;
  font-family: monospace;
  font-size: 0.8em;
  height: 100%;
  white-space: pre;
  width: 100%;
}

.tab-content.selected {
  display: block;
}
